:root {
  --primary-color: #f6f1ff;
  --primary-gradient: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  --secondary-color: #6d3aee;
  --heading-font: "Playfair Display", serif;
}
body {
  border: 3px solid rgba(0, 0, 0, 0.658);
  border-radius: 3px;
  padding: 20px;
}

h1 {
  font-family: var(--heading-font);
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: var(--heading-font);
  font-style: italic;
  text-align: center;
}

a {
  color: var(--secondary-color);
}

.home-links {
  display: block;
  margin: 20px 0 auto;
  text-align: center;
}

.hero {
  background: var(--primary-gradient);
  font-size: 20px;
  padding: 30px 0 120px 0;
  text-align: center;
}

.hero-hello {
  font-size: 30px;
}

.navbar {
  background-color: var(--primary-color);
}

.logo {
  border-radius: 3px;
  width: 40px;
}

.weather-app {
  width: 400px;
}

.home-content {
  text-align: right;
}

@media (max-width: 576px) {
  h1 {
    font-size: 55px;
  }
  .hero-hello {
    font-size: 25px;
  }
  .hero {
    padding-bottom: 80px;
  }
  .home-content {
    text-align: center;
  }
}
